<div nz-row class="login-bg">
  <div nz-col nzSpan="24" class="login-content">
    <div nz-row class="login-main-block">
      <div nz-col [nzXs]="'8'" [nzSm]="'8'" [nzMd]="'9'" [nzLg]="'9'">
      </div>
      <div nz-col [nzXs]="'8'" [nzSm]="'8'" [nzMd]="'6'" [nzLg]="'6'" style="z-index: 1">
        <img class="login-logo" src="{{dwLogoPath | translate}}">
        <dw-login-block [showRemember]="true" [showLanguage]="true"></dw-login-block>
      </div>
      <div nz-col [nzXs]="'8'" [nzSm]="'8'" [nzMd]="'9'" [nzLg]="'9'">
      </div>
    </div>
    <div nz-row class="login-copyright-block" nzJustify="center">
      <div nz-col nzSpan="24" class="login-copyright">
        <span>© Data Systems Consulting Co., Ltd. All rights reserved.</span>
      </div>
    </div>
  </div>
</div>
